/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1024px) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 64em) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 50em) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 37.5em)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 37.5em)  { @content ; }
   }
  }

$background-color: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
$color-of-cards: #f3f3f3;
$min-width: 200px;
$min-height: 100px;
$card-text-color: white;

.card {
    border: 3px $color-of-cards solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: $color-of-cards;
    padding: 10px;
    max-width: 20px;
    text-align: center;
    margin: 0 auto;

    &:hover {
      background-color: $color-of-cards;
      border-color: $color-of-cards;
    }

    img {
        @include breakpoint(desktop) {
            height: $min-height;
        }
        height: $min-height * 2;
        max-width: calc(100%);
        margin: 0 auto;
        display: block;
    }

    .index {
        @include breakpoint(desktop) {
            width: $min-width + 5px;
            height: $min-height;
            font-size: 14px;
            top: 102%;
            right: 0%;
        }
        width: $min-width * 2;
        font-size: 24px;
        top: 60%;
        right: 0%;
        height: $min-height + 50px;
        background-color: rgba(0, 0, 0, 0.2);
        color: card-text-color;
        position: absolute;
        display: block;
        padding: 10px;
    }

    .price {
        @include breakpoint(desktop) {
            font-size: 14px;
        }
        font-size: 24px;
        margin: 0;
        padding: 10px 0;
        font-weight: bold;
    }
}

.cards-slider-wrapper {
    display: flex;
    position: absolute;

    .card {
      @include breakpoint(desktop) {
        min-width: $min-width;
        height: $min-height + 20px;
      }

      min-width: $min-width * 2;
      height: $min-width * 2;
      opacity: 0.7;
      transform: scale(0.8);
      box-shadow: none;
    }
}

$i: 0;
@for $i from 0 through 10 {
    .cards-slider.active-slide-#{$i} #card-#{$i} {
      opacity: 1;
      transform: scale(1);
      background-color: $color-of-cards;
      border-color: $color-of-cards;
    }
}

.cards-slider {
    position: relative;
    max-width: $min-width + 20px;
    margin: 0px 5px;
    @include breakpoint(desktop) {
        margin: 0px 10px;
    }
    // boder for active property
    &:after {
      @include breakpoint(desktop) {
        width: 100%;
        height: $min-height * 2 + 64px;
      }
      content: '';
      display: block;
      width: $min-width * 2 + 20px;
      height: $min-height * 4 + 20px;
      outline: 5px solid green;
      position: absolute;
      top: 0; 
      left: 0;
    }
}